div[data-type="easyteachlms/course"] {
    .block-list-appender {
        &:before {
            content: "Add Lesson or Certificate";
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            font-size: 14px;
            padding-top: 5px;
            display: inline-block;
            position: absolute;
            width: 100%;
            text-align: center;
            width: 100%;
            z-index: 1;
        }
        button {
            position: relative;
            z-index: 2;
            svg {
                opacity: 0;
            }
        }
    }
}