h2 .dashicons.dashicons-analytics {
	font-size: 30px;
	display: inline-block;
	margin-right: 10px;
}
.wp-pattern-example {
	padding: 1em;
	margin: 10px 0 20px;
	background: white;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.wp-pattern-table {
	width: 100%;
}

.wp-pattern-table thead {
	text-align: left;
}

.wp-pattern-table th, .wp-pattern-table td {
	border-bottom: 1px solid #eee;
}

/* .wp-pattern-table td span {
	display: block;
	padding: 5px 10px;
} */

.easylms-course-grid-layout {
	display: flex;
}
.easylms-course-grid-layout > div:first-of-type {
	flex-grow: 1;
}
.easylms-course-grid-layout > div:last-of-type {
	max-width: 350px;
	padding-left: 15px;
}

.easylms-course-grid-layout > div:last-of-type h4 {
	margin-top: 0;
}

h3.course-title {
	padding: 1em;
	margin: -0.8em -0.8em 1em -0.8em ;
	position: relative;
	border-bottom: 1px solid lightgray;
}

tr[data-student-id] > td {
	border-bottom: none;
}
tr[data-student-id] > td h3,
tr[data-student-id] > td p {
	margin-bottom: 0;
}
.ui.progress {
	margin-bottom: 0!important;
}
.js-reveal-module {
	cursor: pointer;
	margin-bottom: 0;
	background-color: #eee;
	padding: 4px 10px;
}
.module-progress {
	background-color: #f4f4f4;
	padding: 4px 10px;
}
