#settings-grid {
    display: flex;
    flex-grow: 1;
    flex-wrap: auto;
    max-width: 1200px;
    & > div:first-of-type {
        width: 70%;
        padding-right: 1em;
    }
    & > div:last-of-type {
        flex-grow: 1;
        padding-right: 1em;
    }
}