.wp-block-easyteachlms-course {
    max-width: 100%!important;
    div[data-active="true"] {
        display: block!important;
    }
    div[data-active="false"] {
        display: none!important;
    }
    .menu {
        font-family: sans-serif;
        font-size: 0.8em;
        min-width: 30%;
        max-width: 320px;
        width: 100%;
        padding-right: 1em;
        [data-selected="true"] > span {
            font-weight: bold;
        }
        span {
            display: flex;
            align-items: center;
            & > .dashicon {
                margin-right: 5px;
            }
        }
        & > ul:first-of-type > li:first-child,
        li > ul > li {
            cursor: pointer;
            &:hover {
                opacity: 0.75;
                font-weight: bold;
            }
        }
    }
}