div[data-type="easyteachlms/lesson-content"] {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.1em;
    &.has-child-selected:before {
        z-index: 0;
        content: "";
        position: absolute;
        border: 1px dashed rgba(66,88,99,.4);
        pointer-events: none;
        transition: border-color .1s linear, border-style .1s linear;
        outline: 1px solid transparent;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: none;
    }
    .block-editor-block-list__layout {
        padding-left: 2em;
    }
    .block-editor-block-list__layout > [data-block]:first-of-type {
        margin-top: 0;
        figure {
            margin-top: 0;
        }
    }
    .block-list-appender {
        &:before {
            display: none;
        }
        button {
            svg {
                opacity: 1!important;
            }
        }
    }
}

