.wp-block-easyteachlms-topic {
    padding-left: 1em;
}

div[data-type="easyteachlms/lesson-content"] {
    &.has-child-selected:before {
        z-index: 0;
        content: "";
        position: absolute;
        border: 1px solid rgba(66,88,99,.4);
        pointer-events: none;
        transition: border-color .1s linear,border-style .1s linear,box-shadow .1s linear;
        outline: 1px solid transparent;
        right: -14px;
        left: -14px;
        top: -14px;
        bottom: -14px;
        box-shadow: none;
        @media (min-width: 600px) {
            box-shadow: -3px 0 0 0 #555d66;
        }
    }
}