.wp-block-easyteachlms-quiz {
    background: #f0f0f0;
    padding: 1em;
    .components-toolbar {
        background: #f0f0f0;
        border: none;
        margin-top: -1em;
    }
    // For the latest Gutenberg release
    .block-editor-button-block-appender {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        width: 100%;
        opacity: 0.8 !important;
        &:hover {
            opacity: 1.0 !important;
        }
        .components-visually-hidden {
            position: relative;
            width: auto;
            clip-path: none;
            margin: 0;
        }
    }
}