div[data-type="easyteachlms/quiz"] {
    background: #f0f0f0;
    padding-bottom: 0.1em;
    &.has-child-selected:before {
        z-index: 0;
        content: "";
        position: absolute;
        border: 1px dashed rgba(66,88,99,.4);
        pointer-events: none;
        transition: border-color .1s linear, border-style .1s linear;
        outline: 1px solid transparent;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: none;
    }
    .components-toolbar {
        background: #f0f0f0;
        border: none;
    }
    .block-list-appender:before {
        content: "Add A Question";
        display: inline-block;
        position: absolute;
        // width: 100%;
        text-align: center;
        font-family: 'sans-serif';
        font-size: 1em;
    }
    // For the latest Gutenberg release
    // .block-editor-button-block-appender {
    //     display: flex;
    //     flex-direction: row;
    //     margin-left: 0;
    //     width: 100%;
    //     opacity: 0.8 !important;
    //     &:hover {
    //         opacity: 1.0 !important;
    //     }
    //     .components-visually-hidden {
    //         position: relative;
    //         width: auto;
    //         clip-path: none;
    //         margin: 0;
    //     }
    // }
}